body {
    font-family: 'Roboto Mono', monospace !important;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

header {
    background: inherit;
}

header .container {
    background-image: linear-gradient(to bottom, #D0D0D0 , #F5F5F5);
}

#search {
    font-weight: 100;
}

#add-task, #delete-all-items {
    width: 100px;
    padding: 5px 0px;
}

#add-task i, #delete-all-items i {
    font-size: 25px;
}

#btn-back-to-top {
    display: block;
    background: transparent;
    color: black;
    position: fixed;
    bottom: 5%;
    left: 5%;
    display: none;
  }
